<!DOCTYPE html>
<html>
  <head>
    <title>Hello World</title>
  </head>
  <body>
        <div>
            <h1>Vārda dienas</h1>
             <h3>
                ${namesDayNames.join(', ')}
             </h3>
        </div>
        <div style="display: flex; gap: 10px;">
            <div>
                <h1>Populārākā delfi ziņa</h1>
                <a href="${delfiData.articleUrl}" target="_blank">
                    <img src="${delfiData.imageSrc}" alt="${delfiData.headingText}" width="400">
                    <h2>${delfiData.headingText}</h2>    
                </a>
            </div>
            <div>
                <h1>Populārākā tvnet ziņa</h1>
                <a href="${tvnetData.articleUrl}" target="_blank">
                    <img src="${tvnetData.imageSrc}" alt="${tvnetData.headingText}" width="400">
                    <h2>${tvnetData.headingText}</h2>    
                </a>
            </div>
            <div>
                <h1>Populārākā lsm ziņa</h1>
                <a href="${lsmData.articleUrl}" target="_blank">
                    <img src="${lsmData.imageSrc}" alt="${lsmData.headingText}" width="400">
                    <h2>${lsmData.headingText}</h2>    
                </a>
            </div>
        </div>
        <h1>Bitcoin vērtība</h1>
        <h2>${bitcoinValue}</h2>
  </body>
</html>